.saint-of-the-day-container {
	max-width: 600px;
	margin: 2rem auto;
	padding: 2rem;
	border-radius: 1rem;
	background: #f9f9f9;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: justify;
}

.saint-of-the-day-container h1,
h2 {
	align-self: center;
}

.saint-of-the-day-container .feast-day {
	font-size: 1.2rem;
	color: #555;
	margin-bottom: 0.5rem;
	font-style: italic;
	align-self: flex-end;
}

.saint-of-the-day-container .saint-details {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.saint-of-the-day-container .no-saint-message {
	font-size: 1.2rem;
	color: #777;
	text-align: center;
	margin-top: 2rem;
}
