.saint-of-the-day-container {
	background-color: var(--color-bg-quaternary);
}

.saint-of-the-day-layout {
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	padding: 2rem;
	display: grid;
	grid-template-columns: minmax(0, 300px) minmax(auto, 800px) minmax(0, 300px);
	gap: 2rem;
	max-width: 1600px;
	margin: 0 auto;
}

.saint-of-the-day-card {
	padding: 2rem;
	border-radius: 1rem;
	background: #f9f9f9;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	/*Inside content */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: justify;
}

.saint-of-the-day-card h1,
h2 {
	align-self: center;
}

.saint-of-the-day-card .feast-day {
	font-size: 1.2rem;
	color: #555;
	margin-bottom: 0.5rem;
	font-style: italic;
	align-self: flex-end;
}

.saint-of-the-day-card .saint-details {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.saint-of-the-day-card .no-saint-message {
	font-size: 1.2rem;
	color: #777;
	text-align: center;
	margin-top: 2rem;
}

.saint-of-the-day-layout .sidebar-right-sticky {
	position: sticky;
	top: calc(var(--header-height) + 1rem);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
