.loader-container {
	flex: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lds-ripple,
.lds-ripple div {
	color: var(--color-text-secondary);
	box-sizing: border-box;
}
.lds-ripple {
	display: inline-block;
	position: relative;
}
.lds-ripple div {
	position: absolute;
	/*On gere la borderWidth avec calcul du size dans le tsx*/
	border-style: solid;
	border-color: currentColor;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -1s;
}
@keyframes lds-ripple {
	0%,
	4.9% {
		top: 45%;
		left: 45%;
		width: 10%;
		height: 10%;
		opacity: 0;
	}
	5% {
		top: 45%;
		left: 45%;
		width: 10%;
		height: 10%;
		opacity: 1;
	}
	100% {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
