/* Spinner */
.loader-container {
	flex: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lds-ripple,
.lds-ripple div {
	color: var(--color-text-secondary);
	box-sizing: border-box;
}
.lds-ripple {
	display: inline-block;
	position: relative;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid currentColor;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -1s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 8px;
		height: 8px;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 8px;
		height: 8px;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 8px;
		height: 8px;
		opacity: 1;
	}
	100% {
		top: 0;
		left: 0;
		width: 80px;
		height: 80px;
		opacity: 0;
	}
}
/* Fin du css spinner  */
