.burger-icon {
	position: relative;
	justify-self: end;
	width: 32px;
	height: 24px;
	cursor: pointer;
}

.burger-icon span {
	width: 32px;
	height: 4px;
	background-color: var(--color-text-primary);
	border-radius: 12px;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	position: absolute;
	left: 0;
	transform-origin: center;
}
.burger-icon span:nth-child(1) {
	top: 0;
}
.burger-icon span:nth-child(2) {
	top: 10px;
}
.burger-icon span:nth-child(3) {
	bottom: 0;
}
.burger-icon.open span:nth-child(1) {
	/* On translate la barre du haut vers le centre, puis on la fait pivoter */
	transform: translateY(10px) rotate(45deg);
}
.burger-icon.open span:nth-child(2) {
	opacity: 0;
	transform: translateX(-10px);
}
.burger-icon.open span:nth-child(3) {
	/* On translate la barre du bas vers le centre, puis on la fait pivoter */
	transform: translateY(-10px) rotate(-45deg);
}
/*.burger-icon span::before,
.burger-icon span::after {
	content: "";
	width: 100%;
	background-color: black;
	display: block;
	transition: all 0.5s ease-in-out;
	border-radius: 12px;
	height: 4px;
}

.burger-icon span::before {
	transform: translateY(-10px);
}

.burger-icon span::after {
	transform: translateY(10px);
	margin-top: -4px;
}

.burger-icon.open span {
	background-color: transparent;
}

.burger-icon.open span::before {
	transform: rotateZ(45deg);
}

.burger-icon.open span::after {
	transform: rotateZ(-45deg);
}*/
