.burger-icon {
	justify-self: end;
	width: 28px;
	height: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	align-items: center;
}

.burger-icon span {
	width: 28px;
	height: 4px;
	background-color: var(--color-text-primary);
	border-radius: 2px;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	transform-origin: left center;
}

.burger-icon.open span:nth-child(1) {
	transform: rotate(45deg);
}

.burger-icon.open span:nth-child(2) {
	opacity: 0;
}

.burger-icon.open span:nth-child(3) {
	transform: rotate(-45deg);
}
