.scroll-button {
	position: fixed;
	bottom: 40px;
	right: 40px;
	/*Same z-index as header*/
	z-index: 6;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--color-primary-light);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: var(--color-border-light) 1px solid;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	overflow: hidden;
}

/* Créer une flèche avec des bordures CSS */
/* Chevron vers le haut */
.chevron-up {
	width: 16px;
	height: 16px;
	border-style: solid;
	border-width: 3px 3px 0 0;
	border-color: var(--color-text-primary);
	transform: rotate(-45deg) translateZ(0);
	margin-top: 5px; /* Ajustement pour centrer visuellement */
	border-radius: 2px;
}

/* Adaptation pour les petits écrans */
@media (max-width: 768px) {
	.scroll-to-top {
		bottom: 90px;
		right: 20px;
	}
}
