.saint-modal__backdrop {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0);
	z-index: 9;
}

.saint-modal {
	position: fixed;
	inset: 0;
	margin: auto;
	width: 90vw;
	max-width: 800px;
	min-height: 500px;
	height: min-content;
	background: #fff;
	border-radius: 16px;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
	padding: 2rem;
	z-index: 10;
	display: flex;
	align-items: center;
	gap: 2rem;
}

.saint-modal__content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: auto;
}

.saint-modal img {
	max-width: 300px;
	height: 100%;
	border-radius: 8px;
	object-fit: cover;
}

.saint-modal__close {
	cursor: pointer;
	margin: auto;
	padding: 0.5rem 1rem;
	overflow: hidden;
}
