.saint-modal {
	position: fixed;
	inset: 0; /* top: 0; right: 0; bottom: 0; left: 0; */
	margin: auto;
	width: 90vw;
	max-width: 500px;
	height: fit-content;
	background: #fff;
	border-radius: 16px;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
	padding: 2rem;
	z-index: 1000;
	text-align: center;
}

.saint-modal img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 1rem;
}
