.saint-modal__backdrop {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0);
	z-index: 9;
}

.saint-modal {
	position: fixed;
	inset: 0;
	margin: auto;
	padding: 2rem;
	width: 90vw;
	max-width: 1000px;
	min-height: 500px;
	max-height: 80vh;
	background: #fff;
	border-radius: 16px;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
	z-index: 10;
	display: flex;
	align-items: center;
	gap: 2rem;
	overflow-y: scroll;
}
.saint-modal__left {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}
.saint-modal__close {
	cursor: pointer;
	padding: 0.5rem 1rem;
	overflow: hidden;
	background-color: var(--color-primary-dark);
	transition: background-color 0.3s ease;
	border: none;
	border-radius: 8px;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}
.saint-modal__close:hover {
	background-color: var(--color-primary-hover);
}
.saint-modal img {
	max-width: 300px;
	height: min-content;
	border-radius: 8px;
	object-fit: cover;
}
.saint-modal__left__bottom {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.saint-modal__left__bottom .link-button {
	font-size: 600;
	font-size: 1.1rem;
	width: max-content;
	align-self: center;
	cursor: pointer;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 8px;
	text-decoration: none;
	transition:
		transform 220ms ease,
		background-color 220ms ease,
		box-shadow 220ms ease;
	position: relative;
	overflow: hidden;
	background-color: var(--color-primary-dark);
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}
.saint-modal__left__bottom .link-button::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
	transform: translate(-50%, -50%);
	transition:
		width 400ms ease,
		height 400ms ease;
}
.saint-modal__left__bottom .link-button:hover::before {
	width: 300px;
	height: 300px;
}

.saint-modal__content {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.saint-modal__content__date {
	align-self: flex-end;
	font-style: italic;
}
.saint-modal__content__description {
	text-align: justify;
}
.saint-modal__content__columns {
	display: flex;
	justify-content: space-around;
}
