.saint-modal__backdrop {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0);
	z-index: 9;
}

.saint-modal {
	position: fixed;
	inset: 0;
	margin: auto;
	width: 90vw;
	max-width: 1000px;
	min-height: 500px;
	max-height: 80vh;
	background: #fff;
	border-radius: 16px;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
	padding: 2rem;
	z-index: 10;
	display: flex;
	align-items: center;
	gap: 2rem;
	overflow: hidden;
}

.saint-modal img {
	max-width: 300px;
	height: min-content;
	border-radius: 8px;
	object-fit: cover;
}

.saint-modal__content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	overflow: scroll;
	height: 100%;
}

.saint-modal__content__date {
	align-self: flex-end;
	font-style: italic;
}
.saint-modal__content__description {
	text-align: justify;
}
.saint-modal__content__columns {
	display: flex;
	justify-content: space-around;
}
.saint-modal__close {
	cursor: pointer;
	margin: auto;
	padding: 0.5rem 1rem;
	overflow: hidden;
}
