.about-page {
	flex: 1;
	padding: 2rem;
	margin: 2rem;
	max-width: 800px;
	align-self: center;
	border-radius: 1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.about-page__info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
