.header {
	position: sticky;
	z-index: 8;
	background-color: var(--color-primary-light);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.header__main {
	display: grid;
	padding: 0.5rem 1rem;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	height: var(--header-height);
}
.header .header-title {
	user-select: none;
}

.header .header-nav {
	justify-self: end;
	display: flex;
	gap: 1rem;
}
.header .header-nav__burger {
	padding: 1rem;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: stretch;
}
.header .header-nav__burger-column {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
}
.header-nav__burger-column:not(:first-child) {
	border-left: 1px solid var(--color-border-dark);
}
.header .header-nav__burger h3 {
	align-self: flex-end;
	justify-self: flex-start;
}
.header .header-nav__burger ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}
