.header {
	position: sticky;
	top: 0;
	padding: 0.5rem 1rem;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	z-index: 10;
	height: var(--header-height);
	background-color: var(--color-primary-light);
}
.header .header-title {
	user-select: none;
}

.header .header-nav {
	justify-self: end;
	display: flex;
	gap: 1rem;
}
