.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	background-color: #f8f9fa;
	padding: 20px;
	font-size: 14px;
	color: #6c757d;
}
.footer a {
	color: #6c757d;
	text-decoration: none;
	margin: 0 10px;
}
