.footer {
	height: var(--footer-height);
	background-color: #f8f9fa;
	font-size: 0.9rem;
	color: #6c757d;
	margin: auto;
	margin-bottom: 1rem;
	border-radius: 1rem;
}
.footer__content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.footer a {
	color: #6c757d;
}
