.footer {
	height: var(--footer-height);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	background-color: #f8f9fa;
	font-size: 0.9rem;
	color: #6c757d;
}
.footer a {
	color: #6c757d;
	text-decoration: none;
	margin: 0 10px;
}
