#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.presentation {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
.logo {
	width: 400px;
	aspect-ratio: auto;
	border-radius: 8px;
}

.link-today {
	position: fixed;
	top: 2rem;
	right: 2rem;
}
