body {
	min-height: 100vh;
	background: var(--color-background-primary);
	color: var(--color-text-primary);
}

a {
	color: var(--color-secondary-light);
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: var(--color-secondary-dark);
}

/*WIP*/
/*button {
	background: var(--color-primary);
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s ease;
}*/
