@font-face {
	font-family: "Source Serif";
	src: url("/fonts/SourceSerif4Variable-Roman.ttf.woff2")
		format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Source Serif";
	src: url("/fonts/SourceSerif4Variable-Italic.ttf.woff2")
		format("woff2-variations");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: "Source Serif", serif;
	line-height: 1.4;
	font-size: 1rem;
	font-weight: 400;
	background: var(--color-bg-primary);
	color: var(--color-text-primary);
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}
/*Body color variations for different pages*/
body.saintoftheday {
	background-color: var(--color-bg-quaternary);
}
body.about {
	background-color: var(--color-bg-tertiary);
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--color-secondary-light);
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: var(--color-secondary-dark);
}

/*WIP*/
/*button {
	background: var(--color-primary);
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s ease;
}*/

h1 {
	font-size: 2.5rem;
	font-weight: 600;
}

h2 {
	font-size: 2rem;
	font-weight: 500;
}
h3 {
	font-size: 1.5rem;
}
