body {
	background: var(--color-background-primary);
	color: var(--color-text-primary);
}
#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--color-secondary-light);
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: var(--color-secondary-dark);
}

/*WIP*/
/*button {
	background: var(--color-primary);
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s ease;
}*/

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
