.presentation {
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
.presentation .link-today {
	position: fixed;
	top: 2rem;
	right: 2rem;
	font-size: 2rem;
}
