.presentation {
	min-height: calc(100vh - var(--header-height));
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 2rem;
}

.home-nav {
	display: flex;
	gap: 2rem;
}

.home-nav .home-nav-link {
	padding: 1rem 2rem;
	background-color: var(--color-background-tertiary);
	border: 1px solid var(--color-border-dark);
	border-radius: 8px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s;
	color: var(--color-text-primary);
}

.home-nav .home-nav-link:hover {
	background-color: var(--color-primary-light);
}

.home-nav .home-nav-link.saint-of-the-day-link {
	background-color: var(--color-accent-light);
}
.home-nav .home-nav-link.saint-of-the-day-link:hover {
	background-color: var(--color-accent);
}
